// Modal close button styling
.modal-close-btn {
  position: absolute;
  top: -41px;
  right: -3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(30, 41, 59, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(51, 65, 85, 0.5);
    color: rgb(203, 213, 225);
  }
}
